// Parent set to relative
.section-stories {
  position: relative;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; // clip the edges of video

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover; //fit image into parent with ratio
  }
}