.section-header {
  background-color: $color-gray-light-1;
}

.header {
  background-image: linear-gradient(to top, rgba($color-primary-dark, 0.85), rgba($color-primary-light, 0.85)), url('/img/hero.jpg');
  background-size: cover;
  background-position: top;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
  position: relative;

  &__logo-box {
    position: absolute;
    top: 2rem;
    left: 4rem;
  }
  
  &__logo {
    height: 9rem;
  }
  
  &__text-box {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}